<!-- <app-navbar></app-navbar> -->
<!-- <a routerLink="/login" class="nav-item nav-link active">Login</a> -->



<!-- <div class="container">
    <h2>Library Login</h2>
    <br>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">Login</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <app-login-form></app-login-form>
        </div>
    </div>
</div> -->



<!-- <app-login-form></app-login-form> -->
<router-outlet></router-outlet>